.chart {
	font-family: Arial, sans-serif;
	font-size: 10px;
}

.axis path, .axis line {
	fill: none;
	stroke: gray;
	shape-rendering: crispEdges;
}
.axis2 line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.area {
	clip-path: url(#clip);
}

.grid .tick line {
	stroke: lightgrey;
	opacity: 0.7;
}
.grid path {
	stroke-width: 1;
}
.brush .background {
	visibility: visible!important;
	fill: #E0E0E0;
}

.brush .extent {
	stroke: #158FBF;
	fill-opacity: 1;
	shape-rendering: crispEdges;
	fill: #158FBF;
}

rect.pane {
	cursor: move;
	fill: none;
	pointer-events: all;
}